<div style="padding: 4rem 12rem;" class="font-bold flex align-items-center no-underline text-4xl">
	<img src="/assets/logo/reados32.png" alt="RL" class="mr-3 text-color-secondary">
	<span class="text-white">{{ systemName }}</span>
</div>
<div class="flex p-0 m-0">
	<main class="text-left m-auto surface-ground grid">
		<div class="col max-w-30rem p-0">
			<form (ngSubmit)="onSubmit()" class="m-6 flex flex-wrap" [formGroup]="customer">
				<h1 class="h3 mb-3 fw-normal text-light w-full">Come on in, we are open</h1>

				<!-- <label for="domain" class="text-color">Your URL</label>
				<div class="p-inputgroup">
					<input type="text" pInputText placeholder="awesomecompany" formControlName="domain" required [pKeyFilter]="domainRegex" appAutoFocus>
					<span class="p-inputgroup-addon">.{{ cardinalDomain }}</span>
					<span class="p-inputgroup-addon" id="checker" *ngIf="isSearching">
						<i class="fa fa-fw fa-circle-notch fa-spin"></i>
					</span>
					<span class="p-inputgroup-addon" id="checker" *ngIf="isDomainValid && !isSearching">
						<i class="fa fa-fw fa-check"></i>
					</span>
				</div>
				<small class="w-full text-right text-red-500" *ngIf="domain?.invalid && (domain?.touched || domain?.dirty)">
					<div *ngIf="domain?.errors?.['required']">URL is required.</div>
					<div *ngIf="domain?.errors?.['minlength']">URL must be at least 3 characteres.</div>
					<div *ngIf="domain?.errors?.['taken']">URL is not available, please choose another one.</div>
				</small> -->

				<label for="email" class="w-full mt-3">Your Email Address</label>
				<input type="email" pInputText class="w-full" placeholder="name@example.com" formControlName="email" required appAutoFocus>
				<small class="w-full text-right text-red-500" *ngIf="email?.invalid && (email?.touched || email?.dirty)">
					<div *ngIf="email?.errors?.['required']">Email address is required.</div>
					<div *ngIf="email?.errors?.['email']">Please enter a valid email address.</div>
				</small>
				<label for="password" class="w-full mt-3">Your Password</label>
				<div class="p-inputgroup">
					<input type="password" pPassword class="w-full" placeholder="Password" formControlName="password" [feedback]="false" [showPassword]="isPasswordClear" required>
					<span class="p-inputgroup-adon">
						<button pButton pRipple type="button" (click)="isPasswordClear = !isPasswordClear" class="border-noround-left">
							<i class="fa fa-fw fa-regular text-black" [ngClass]="isPasswordClear ? 'fa-eye-slash' : 'fa-eye'"></i>
						</button>
					</span>
				</div>
				<small class="w-full text-right text-red-500" *ngIf="password?.invalid && (password?.touched || password?.dirty)">
					<div *ngIf="password?.errors">Password must be at least 8 characters long, contain at least 1 lowercase letter, 1 uppercase letter, 1 number, and 1 symbol.</div>
				</small>

				<br>
				<button pButton type="submit" class="ml-auto bg-primary mt-3" [disabled]="customer.invalid || isSubmitting">
					<!-- <fa-icon class="fa-fw" [icon]="faKey"></fa-icon> -->
					<i class="fa-solid fa-key fa-fw mr-1"></i>
					Sign up
				</button>
			</form>
		</div>
		<div class="col max-w-30rem p-0 hidden md:block">
			<img src="/assets/background/login-sid	e.jpg" alt="Come in, we are open" class="w-full h-full p-0 m-0">
		</div>
	</main>
</div>