<!-- <div class="container d-flex py-auto" style="height: 100vh;">
	<div class="row m-auto">
		<div class="col">
			<form>
				<div class="card my-auto border-0" style="max-width: 300px;">
					<img src="/assets/logo/reados64.png" class="mx-auto" alt="READOS" height="64px" width="65px">
					<div class="card-body">
						<h5 class="card-title">Sign In</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
							content.
						</p>
					</div>
					<div class="form-floating">
						<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
						<label for="floatingInput">Email address</label>
					</div>
					<div class="form-floating">
						<input type="password" class="form-control" id="floatingPassword" placeholder="Password">
						<label for="floatingPassword">Password</label>
					</div>
					<button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Sign in</button>

				</div>
			</form>
		</div>
	</div>
</div> -->
<div class="bg-secondary d-flex py-auto" style="height: 100vh;">
	<main class="form-signin text-center">
		<form class="m-auto">
			<img class="mb-4" src="/assets/logo/reados64.png" width="65" height="64">
			<h1 class="h3 mb-3 fw-normal">Please sign in</h1>

			<div class="form-floating">
				<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
				<label for="floatingInput">Email address</label>
			</div>
			<div class="form-floating">
				<input type="password" class="form-control" id="floatingPassword" placeholder="Password">
				<label for="floatingPassword">Password</label>
			</div>


			<div class="row">
				<div class="col">
					<a routerLink="/" class="text-decoration-none"> &lt;- Go to home</a>
				</div>
				<div class="col">
					<button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
				</div>
			</div>
		</form>
	</main>
</div>