<div class="row my-3">
	<div class="col-3">
		<h3>Backgrounds</h3>
	</div>
	<div class="col-9">
		<div class="p-3 mb-2 bg-primary text-white">.bg-primary</div>
		<div class="p-3 mb-2 bg-secondary text-dark">.bg-secondary</div>
		<div class="p-3 mb-2 bg-success text-white">.bg-success</div>
		<div class="p-3 mb-2 bg-danger text-white">.bg-danger</div>
		<div class="p-3 mb-2 bg-warning text-dark">.bg-warning</div>
		<div class="p-3 mb-2 bg-info text-white">.bg-info</div>
		<div class="p-3 mb-2 bg-light text-dark">.bg-light</div>
		<div class="p-3 mb-2 bg-dark text-white">.bg-dark</div>
		<div class="p-3 mb-2 bg-white text-dark">.bg-white</div>
		<div class="p-3 mb-2 bg-red text-white">.bg-red</div>
		<div class="p-3 mb-2 bg-green text-dark">.bg-green</div>
	</div>
</div>
<div class="row my-3">
	<div class="col-3">
		<h3>Headers</h3>
	</div>
	<div class="col-9">
		<h1>h1. Bootstrap heading</h1>
		<h2>h2. Bootstrap heading</h2>
		<h3>h3. Bootstrap heading</h3>
		<h4>h4. Bootstrap heading</h4>
		<h5>h5. Bootstrap heading</h5>
		<h6>h6. Bootstrap heading</h6>
	</div>
</div>
<div class="row my-3">
	<div class="col-3">
		<h3>Cards</h3>
	</div>
	<div class="col-9">
		<div class="card">
			<div class="card-header">Card Header</div>
			<div class="card-body">
				<h5 class="card-title">Card-Title</h5>
				<p class="card-text">Card-Text in a p tag.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
			<div class="card-footer">2 days ago</div>
		</div>
	</div>
</div>
<div class="row my-3">
	<div class="col-3">
		<h3>Buttons X-Small</h3>
	</div>
	<div class="col-9">
		<button type="button" class="btn btn-xs me-1 btn-primary">Primary</button>
		<button type="button" class="btn btn-xs me-1 btn-secondary">
			Secondary
		</button>
		<button type="button" class="btn btn-xs me-1 btn-success">Success</button>
		<button type="button" class="btn btn-xs me-1 btn-danger">Danger</button>
		<button type="button" class="btn btn-xs me-1 btn-warning">Warning</button>
		<button type="button" class="btn btn-xs me-1 btn-info">Info</button>
		<button type="button" class="btn btn-xs me-1 btn-light">Light</button>
		<button type="button" class="btn btn-xs me-1 btn-dark">Dark</button>
		<button type="button" class="btn btn-xs me-1 btn-link">Link</button>
	</div>
</div>
<div class="row my-3">
	<div class="col-3">
		<h3>Buttons Small</h3>
	</div>
	<div class="col-9">
		<button type="button" class="btn btn-sm me-1 btn-primary">Primary</button>
		<button type="button" class="btn btn-sm me-1 btn-secondary">
			Secondary
		</button>
		<button type="button" class="btn btn-sm me-1 btn-success">Success</button>
		<button type="button" class="btn btn-sm me-1 btn-danger">Danger</button>
		<button type="button" class="btn btn-sm me-1 btn-warning">Warning</button>
		<button type="button" class="btn btn-sm me-1 btn-info">Info</button>
		<button type="button" class="btn btn-sm me-1 btn-light">Light</button>
		<button type="button" class="btn btn-sm me-1 btn-dark">Dark</button>
		<button type="button" class="btn btn-sm me-1 btn-link">Link</button>
	</div>
</div>
<div class="row my-3">
	<div class="col-3">
		<h3>Buttons Normal</h3>
	</div>
	<div class="col-9">
		<button type="button" class="btn me-1 btn-primary">Primary</button>
		<button type="button" class="btn me-1 btn-secondary">Secondary</button>
		<button type="button" class="btn me-1 btn-success">Success</button>
		<button type="button" class="btn me-1 btn-danger">Danger</button>
		<button type="button" class="btn me-1 btn-warning">Warning</button>
		<button type="button" class="btn me-1 btn-info">Info</button>
		<button type="button" class="btn me-1 btn-light">Light</button>
		<button type="button" class="btn me-1 btn-dark">Dark</button>
		<button type="button" class="btn me-1 btn-link">Link</button>
	</div>
</div>
<div class="row my-3">
	<div class="col-3">
		<h3>Buttons Large</h3>
	</div>
	<div class="col-9">
		<button type="button" class="btn btn-lg me-1 btn-primary">Primary</button>
		<button type="button" class="btn btn-lg me-1 btn-secondary">
			Secondary
		</button>
		<button type="button" class="btn btn-lg me-1 btn-success">Success</button>
		<button type="button" class="btn btn-lg me-1 btn-danger">Danger</button>
		<button type="button" class="btn btn-lg me-1 btn-warning">Warning</button>
		<button type="button" class="btn btn-lg me-1 btn-info">Info</button>
		<button type="button" class="btn btn-lg me-1 btn-light">Light</button>
		<button type="button" class="btn btn-lg me-1 btn-dark">Dark</button>
		<button type="button" class="btn btn-lg me-1 btn-link">Link</button>
	</div>
</div>
<div class="row my-3">
	<div class="col-3">
		<h3>Buttons Circle XS</h3>
	</div>
	<div class="col-9">
		<button type="button" class="btn btn-xs btn-circle me-1 btn-primary">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-xs btn-circle me-1 btn-secondary">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-xs btn-circle me-1 btn-success">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-xs btn-circle me-1 btn-danger">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-xs btn-circle me-1 btn-warning">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-xs btn-circle me-1 btn-info">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-xs btn-circle me-1 btn-light">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-xs btn-circle me-1 btn-dark">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-xs btn-circle me-1 btn-link">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
	</div>
</div>
<div class="row my-3">
	<div class="col-3">
		<h3>Buttons Circle SM</h3>
	</div>
	<div class="col-9">
		<button type="button" class="btn btn-sm btn-circle me-1 btn-primary">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-sm btn-circle me-1 btn-secondary">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-sm btn-circle me-1 btn-success">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-sm btn-circle me-1 btn-danger">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-sm btn-circle me-1 btn-warning">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-sm btn-circle me-1 btn-info">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-sm btn-circle me-1 btn-light">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-sm btn-circle me-1 btn-dark">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-sm btn-circle me-1 btn-link">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
	</div>
</div>
<div class="row my-3">
	<div class="col-3">
		<h3>Buttons Circle</h3>
	</div>
	<div class="col-9">
		<button type="button" class="btn btn-circle me-1 btn-primary">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-circle me-1 btn-secondary">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-circle me-1 btn-success">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-circle me-1 btn-danger">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-circle me-1 btn-warning">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-circle me-1 btn-info">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-circle me-1 btn-light">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-circle me-1 btn-dark">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-circle me-1 btn-link">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
	</div>
</div>
<div class="row my-3">
	<div class="col-3">
		<h3>Buttons Circle Large</h3>
	</div>
	<div class="col-9">
		<button type="button" class="btn btn-circle btn-lg me-1 btn-primary">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-circle btn-lg me-1 btn-secondary">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-circle btn-lg me-1 btn-success">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-circle btn-lg me-1 btn-danger">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-circle btn-lg me-1 btn-warning">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-circle btn-lg me-1 btn-info">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-circle btn-lg me-1 btn-light">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-circle btn-lg me-1 btn-dark">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
		<button type="button" class="btn btn-circle btn-lg me-1 btn-link">
			<fa-icon [icon]="faCog"></fa-icon>
		</button>
	</div>
</div>
<div class="row my-3">
	<div class="col-3">
		<h3>Alerts</h3>
	</div>
	<div class="col-9">
		<div class="alert alert-primary" role="alert">primary</div>
		<div class="alert alert-secondary" role="alert">secondary</div>
		<div class="alert alert-success" role="alert">success</div>
		<div class="alert alert-danger" role="alert">danger</div>
		<div class="alert alert-warning" role="alert">warning</div>
		<div class="alert alert-info" role="alert">info</div>
		<div class="alert alert-light" role="alert">light</div>
		<div class="alert alert-dark" role="alert">dark</div>
		<div class="alert alert-white" role="alert">white</div>
		<div class="alert alert-red" role="alert">red</div>
		<div class="alert alert-green" role="alert">green</div>
	</div>
</div>