@import "./reados-styles/colors.scss";
@import "./reados-styles/utilities.scss";

/* Importing Bootstrap SCSS file. */
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
//  bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "../../node_modules/ngx-bootstrap/datepicker/bs-datepicker";


html,
body {
	font-size: 14px;
}

.content-container {
	position: fixed;
	top: 3.75rem;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	border: 5px solid yellow;
}