.btn-group-xs > .btn,
.btn-xs {
	padding: calc(1rem / 14) calc(5rem / 14) !important;
	font-size: calc(12rem / 14) !important;
	line-height: 1.5 !important;
	border-radius: calc(3rem / 14) !important;
}

.btn-circle {
	border-radius: 50% !important;
}
