<nav class="fixed top-0 left-0 w-full font-bold shadow-2 bg-surface">
	<div class="flex align-items-center py-2 px-3">
		<a class="font-bold flex align-items-center no-underline text-3xl" routerLink="/">
			<img src="/assets/logo/reados24.png" alt="RL" class="mr-3 text-color-secondary">
			<span class="text-color">READOS</span>
		</a>
		<span class="ml-auto">
			<a class="no-underline text-color mr-3" routerLink="sign-in"
				routerLinkActive="border-bottom border-3 border-white">
				Sign In
			</a>
			<a class="text-color no-underline" routerLink="sign-up" routerLinkActive="border-bottom border-3 border-white">
				Sign Up
			</a>
		</span>
	</div>
</nav>